.fixed{
	position: fixed;
	top: 0px;
	z-index: 2000;
	height: 27px;
	background-color: #f0f0f0;
	overflow-x: auto;
	overflow-y: hidden;
	width: 100% !important;
}
.fixed-menu{
	overflow-x: auto;
	overflow-y: hidden;
	width: 100% !important;
	height: 27px;
}
.purchase-fixed-menu{
	overflow-x: auto;
	overflow-y: hidden;
	width: 100% !important;
	height: 27px;
}
.portfolio-item:hover .portfolio-item-content > .test{
	display: block !important;
	height: 35px !important;
}

.portfolio-item:hover .portfolio-item-content > .test2{
	display: none;
}
.lightbox-title{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.product-detail-title-bar{
	margin-top: 10px;
}